{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'informacje.css' %}">
    <script defer src="{% static 'informacje.js' %}"></script>
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{% static 'LOGO_HEADER.png' %}" alt="Logo" style="height: 80px;">
            </div>
            <ul class="navbar-center">
                <li><a href="/">HOME</a></li>
                <li><a href="/bazahintow">BAZA ZADAŃ</a></li>
                <li><a href="/bazahintow/addproblem">DODAJ ZADANIE</a></li>
                <li><a id="current"   href="/kolomatematyczne">KOŁO MATEMATYCZNE</a></li>
                <li><a href="/about">O NAS</a></li>
            </ul>
            <div class="navbar-right">
                <a href="/profile">PROFIL</a>
            </div>
        </nav>
    </header>

<div class="calendar">
    <div class="header">
        <button id="prevMonth">◀ </button>
        <h2 id="currentMonth"></h2>
        <button id="nextMonth">▶</button>
    </div>
    <div class="days" id="calendarDays"></div>
</div>

<div id="eventPopup" class="event-popup">
    <div class="popup-content">
        <span class="close-btn">&times;</span>
        <h3 id="popupDate"></h3>
        <ul id="eventList"></ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for kolo in kolka %}
            addEvent({
                date: new Date("{{ kolo.date|date:'Y-m-d' }}"),
                time: new Date("{{ kolo.date|date:'Y-m-d' }}T{{ kolo.time|time:'H:i' }}"),
                duration: {
                    hours: Math.floor({{ kolo.duration.total_seconds }} / 3600),
                    minutes: Math.floor(({{ kolo.duration.total_seconds }} % 3600) / 60)
                },
                tutors: [{% for tutor in kolo.tutors.all %}"{{ tutor.username }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
                theme: "{{ kolo.theme|escapejs }}",
                description: "{{ kolo.description|escapejs }}",
                image: "{{ kolo.image }}",
                file: "{{ kolo.file }}",
                level: {{ kolo.level|default_if_none:"null" }},
                finished: {{ kolo.finished|yesno:"true,false" }}
            });
        {% endfor %}
        updateCalendar();
    });
</script>

</body>
</html>
