{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'mainSite/footerStyle.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>MIKO</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">polityka prywatności</a></li>
                        <li><a href="#">cos tu jeszcze mozna dodac</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Pomoc</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Jak zacząć?</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Na skróty</h4>
                    <ul>
                        <li><a href="#">dodaj zadanie</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sociale</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-discord"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>