{% load static %}




<!DOCTYPE html>
<html lang="pl">
<head>
    <title>MIKO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-logo">
                <a href="#">Logo</a>
            </div>
            <ul class="navbar-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
<!--    <script src="script.js"></script>-->
</body>
</html>
