{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tasks Page</title>
<link rel="stylesheet" href="{% static 'hintbaseindexStyle.css' %}">
<script defer src="{% static 'hintbaseindexScript.js' %}"></script>
</head>
<body>

<header>
    <h1>Zadania</h1>
    {% if user.is_authenticated %}
        <a href="./addproblem/">Dodaj zadanie</a>
        {% if user_belongs_to_moderator_group %}
            <a href="./verifysolutions/">Weryfikacja rozwiązań</a>
        {% endif %}
    {% endif %}
    
</header>

<div class="container">
        <button class="back-button" onclick="goBack()">Back</button>

    <form method="POST" id= "filter-form" action=''>
        {% csrf_token %}
        <label for="tags">Select Tags:</label><br>
        <select name="tags_to_filter" id="tags" multiple>
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select><br><br>
        <label for="difficulty">Select Difficulty (1-10):</label><br>
        <label> Max:</label>
        <input type="range" id="difficulty_max" name="difficulty_max" min="1" max="10" value="10"> <label id="difficulty_max_display">10</label><br><br>
        <label> Min:</label>
        <input type="range" id="difficulty_min" name="difficulty_min" min="1" max="10" value="1"> <label id="difficulty_min_display">1</label><br><br>
        
        <input type="submit" value="Submit">
    </form>
    <br><br>
    {% for problem in all_problems %}
    <div class="problem-block">
        <h2>Problem ID: {{ problem.problem_id }}</h2>
        <p><strong>Genre:</strong> 
            {% for tag_name in problem.tags.names %}
                <span>{{ tag_name }};</span>
            {% endfor %}
        </p>
        
        <p><strong>Difficulty:</strong> {{ problem.difficulty }}</p>
        <p><strong>Author:</strong> 
            {% if proben.author != "" %} 
            {{ problem.author.username }}
            {% endif %}</p>
        <a href="/bazahintow/view_problem/{{ problem.problem_id }}" class="view-button">View Problem</a>
    </div>
    {% endfor %}

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
