{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tasks Page</title>
<link rel="stylesheet" href="{% static 'hintbaseindexStyle.css' %}">
<script defer src="{% static 'hintbaseindexScript.js' %}"></script>

</head>
<body>

    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{% static 'LOGO_HEADER.png' %}" alt="Logo" style="height: 80px;">
            </div>
            <ul class="navbar-center">
                <li><a href="/">HOME</a></li>
                <li><a id="current"  href="/bazahintow">BAZA ZADAŃ</a></li>
                <li><a href="/bazahintow/addproblem">DODAJ ZADANIE</a></li>
                <li><a href="/about">O NAS</a></li>
            </ul>
            <div class="navbar-right">
                <a href="/profile">PROFIL</a>
            </div>
        </nav>
    </header>

<div class="container">


    <h1> Baza zadań</h1>
    <hr>
    <form method="POST" id= "filter-form" action=''>
        {% csrf_token %}
        <label for="tags">Wybierz tagi:</label><br>
        <select name="tags_to_filter" id="tags" multiple>
            {% for tag in tags %}
            <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </select><br><br>
        <label for="difficulty">Select Difficulty (1-10):</label><br>
        <label> Max:</label>
        <input type="range" id="difficulty_max" name="difficulty_max" min="1" max="10" value="10"> <label id="difficulty_max_display">10</label><br><br>
        <label> Min:</label>
        <input type="range" id="difficulty_min" name="difficulty_min" min="1" max="10" value="1"> <label id="difficulty_min_display">1</label><br><br>
        
        <input type="submit" value="Submit">
    </form>
    <br><br>
    {% for problem in all_problems %}
    <div class="problem-block">
        <h2>Zadanie {{ problem.problem_id }}</h2>
        <p><strong>Tagi:</strong> 
            {% for tag_name in problem.tags.names %}
                <span>{{ tag_name }};</span>
            {% endfor %}
        </p>
        
        <p><strong>trudność:</strong> {{ problem.difficulty }}</p>
        <p><strong>Zadanie dodał/a:</strong> 
            {% if proben.author != "" %} 
            {{ problem.author.username }}
            {% endif %}
        </p>
        
        <p>
            <strong>
                Gatunek:</strong>
            {% for tag_name in problem.tags.names %}
            <span>{{ tag_name }},</span>
            {% endfor %}
        </p>

        <div style="display: flex;justify-content: flex-end;">
            <a href="/bazahintow/view_problem/{{ problem.problem_id }}" class="view-button">Zobacz zadanie</a>
        </div>
        
    </div>
    {% endfor %}

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>
