{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hintBase/viewproblemStyle.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
        integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
        integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
        integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <title>View Problem</title>
</head>

<body>
    
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{% static 'LOGO_HEADER.png' %}" alt="Logo" style="height: 80px;">
            </div>
            <ul class="navbar-center">
                <li><a href="/">HOME</a></li>
                <li><a id="current" href="/bazahintow">BAZA ZADAŃ</a></li>
                <li><a href="/bazahintow/addproblem">DODAJ ZADANIE</a></li>
                <li><a href="/about">O NAS</a></li>
            </ul>
            <div class="navbar-right">
                <a href="/profile">PROFIL</a>
            </div>
        </nav>
    </header>

    <div id="container">
        <div id="title">
            <div class="problem-title-box">
                <h1>Zadanie {{ problem.problem_id }}</h1>

            </div>

            <div class="problem-title-box">

            {% if is_admin %}
                <form method="post" enctype="multipart/form-data" onsubmit="return confirm('Jeśli jesteś adminem: Na pewno chcesz usunąc zadanie?');">
                {% csrf_token %}
               <!-- Przycisk usuwania zadania, trzeba go tak postawić, żeby wyglądał w miarę sensowanie (NA DOLE strony
                )bo zadań w ogólności nie usuwamy, nawet jeśli użytkownik usunął kont-->
                <button type="submit" name="delete_problem">Usuń zadanie
                </button>
                </form>
            {% endif %}

                <div class="problem-main-details">
                    <h2>Zadanie dodał/a:
                        {% if proben.author != "" %}
                        {{ problem.author.username }}
                        {% endif %}</h2>
                </div>
                <div class="problem-main-details">
                    <h2> Trudność: {{ problem.difficulty }}</h2>
                </div>
            </div>
        </div>
        <div id='problem-content'> 
            <h2>
                Źródło: {{ problem.source }}<br>
                Tagi:
                {% for tag_name in problem.tags.names %}
                <span>{{ tag_name }},</span>
                {% endfor %}
            </h2>
            <h2>
                {% if problem.image %}
            </h2>
            <img src="{{ problem.image.url }}" alt="Problem Image">
            {% endif %}
            
            <hr style="
            color: var(--b1);
            background-color: var(--b1);
            height: 1px; width: 120px; border: 0; margin-top: 40px; ">
            <div id="latex-container">
                {{ problem.latex_code }}
            </div>


        </div>
        <div id="hints-container">
            <div id="hint-title">
                <h3>Rozwiązania ({{ hinty|length }})</h3>
            </div>
            <br>
            {% for hintIntance in hinty %}
            <div class="solution">
                <h4>Rozwiązanie {{ forloop.counter }}</h4>

                {% with hintIntance.hints|linebreaks as splittedhints %}
                <!-- TODO numeracje podpowiedzi tez mozna tak samo jak wyzej, pk mozesz dac czy jak wolisz -->
                <div class="clue" id="latex-container">Podpowiedź {{ forloop.counter }} : <br> {{ splittedhints }} </div>
                {% endwith %}


                <div class="clue"> Pełne rozwiązanie: <br>{{ hintIntance.latex_solution }} </div>

                <div class="clue">Autor rozwiązania/(rozwiązanie dodał):{{ hintIntance.author.username }}</div>
            </div>
            <br>
            {% endfor %}


            {% if user.is_authenticated %}
            <a href="./add_solution">Dodaj rozwiązanie</a>
            {% endif %}

        </div>
    </div>
</div>

    
<footer id="footer">
    <div id="footer-text">
        <div class="row" style="margin: 30px 0; ">
            <div class="column" style="margin-right: 60px;">
                <h3 style="padding-top: 10px; font-size: 24px; font-weight: 600;  color: #fff;">Contact Us</h3>
                <p>Email: info@example.com</p>
                <p>Phone: +1 234 567 890</p>
                <p style="padding-top: 10px;">2022 My Website. All rights reserved. </p>
            </div>
            <div class="column">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
            </div>
        </div>
    </div>
</footer>
</body>

</html>

<script src="{% static 'hintBase/viewproblemScript.js' %}"></script>
