/* CSS styles */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Light grey background */
}

header {
    background-color: #4CAF50; /* Green background */
    color: #fff;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #45a049; /* Darker green button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4CAF50; /* Lighter green on hover */
}

.container {
    padding: 20px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
}

.problem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    transition: transform 0.3s ease;
}

.problem:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
}

.problem-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.view-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}