* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --b1: #074A59;
    --b2: #06313E;
    --r1: #F24535;
    --y1: #F2B544;
    --w1: #ffffff;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    height: 80px; 
    padding-right: 50px; 
    padding-left: 50px; 
    border-bottom: 1px solid var(--b1); 
}

.navbar a {
    color: var(--b1);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.navbar-left {
    margin-right: auto; 
}

.navbar-center {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}

.navbar-right {
    margin-left: auto; 
}
.navbar-center li {
    display: flex;
    align-items: center;
}

.navbar-center li + li::before {
    content: "|";
    color: 06313E;
    font-weight: 900;
    margin: 20px 20px; 
}

.navbar a:hover {
    color: var(--y1);
}

#current
{
    color: var(--r1);
}
#current:hover
{
    color: var(--y1);
}

.container {
    margin-left: auto;
    margin-right: auto; 
    box-sizing: border-box;
    width: 1400px;
}

#footer
{
    height: 200px;
    background-color: var(--r1);
    padding: auto 0;
    color: #fff;
}

#footer-text
{
    margin-left: auto;
    margin-right: auto; 
    box-sizing: border-box;
    width: 1400px;
    padding-top: 10px;
}

.column
{
    float: left;
    width: -webkit-calc(50% - 30px);
    flex-wrap: wrap;
    text-wrap: wrap;
    margin-bottom: 30px;
}

@media screen and (max-width: 1500px) {
    .container {
       width: -webkit-calc(100% - 100px);
    }
    #footer-text
    {
        width: -webkit-calc(100% - 100px);
    }
}

.problem {
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    transition: transform 0.3s ease;
}

.problem:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
}

.problem-block {
    color: var(--b1);
    border: 1px solid var(--b1);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 60px;
}

.problem-block h2 {
    color: var(--y1);
    font-size: 40px;
}

.view-button {
    background-color: var(--r1);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    border: 2px solid var(--r1);
}
.view-button:hover
{
background-color: white;
color: var(--r1);
border: 2px solid var(--r1);
}

h1
{
    margin-top: 50px ;
    font-size: 60px;
    color: var(--b1);
}


hr
{
    color: var(--b1);
    background-color: var(--b1);
    height: 3px;
    margin-bottom: 60px;
}