body {
    margin: 0;
}

.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #06313E
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-links a:hover {
    color: #ddd;
}