{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'changepasswordStyle.css' %}">
<body>
    <div class="container">
        <h1>Change Password</h1>

        <form action="" method="post">
            {% csrf_token %} <div class="input-group">
                <label for="old_password">Current Password:</label>
                <input type="password" name="old_password" id="old_password" required>
            </div>
            <div class="input-group">
                <label for="new_password1">New Password:</label>
                <input type="password" name="new_password1" id="new_password1" required>
            </div>
            <div class="input-group">
                <label for="new_password2">Confirm New Password:</label>
                <input type="password" name="new_password2" id="new_password2" required>
            </div>

            <div class="button-container">
                <button type="submit">Change Password</button>
            </div>
            
            
            
        </form>
        {% if custom_message %}
            <p>{{ custom_message }}</p>
            <a href="/signin/"><button>Sign In</button></a>
            {% endif %}
    </div>

</body>
</html>
