{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'styleSignup.css' %}">
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup/" method="post">
    {% csrf_token %}
        <label class="required" for="nickname">Nazwa użytkownika:</label>
        <input type="text" id="nickname" name="nickname">
        <br>
        <label class="required" for="email">Adres e-mail:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label class="required" for="password">Hasło:</label>
        <input type="password" id="password" name="password0" required>
        <label for="show-password"><input type="checkbox" id="show-password"> Show password</label>
        <br>
        <label class="required" for="password">Powtórz hasło:</label>
        <input type="password" id="password" name="password1" required>
        <label for="show-password"><input type="checkbox" id="show-password"> Show password</label>
        
        <br>
        <label class="required" for="name">Imię:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label class="required" for="surname">Nazwisko:</label>
        <input type="text" id="surname" name="surname" required>
        <br>
    
        <label class="required" for="region">Województwo:</label>
        <select id="region" name="region" required>
            <option value="">Wybeirz z listy:</option>
            <option value="malopolskie">Małopolskie</option>
            <option value="mazowieckie">Mazowieckie</option>
        </select>
        <br>
        <label for="date_of_birth">Data urodzenia</label>
        <input type="date" id="date_of_birth" name="date_of_birth">
        
        <br>
        
        <p style="color: red">{{ custom_message }}</p>


        <button type="submit">Załóż konto</button>
    </form>
</body>
</html>
