body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  background-color: #f0f0f0;
}

header {
  background-color: #008b8b;
  padding: 10px 0;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 50px auto;
}

h1 {
  margin: 0 0 10px;
  color: #F2B544;
}

p {
  margin: 0 0 20px;
  color: #666;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  width: 48%;
  padding: 10px;
  margin-right: 5px;
  border: 0px;
  border-bottom: 1px solid #074A59;
  border-radius: 3px;
}

.form-group select {
  margin-right: 4%;
}

#comment {
  width: 200px;
  color: #696969;
  font-size: 10px;
  margin-left: 3px;
  margin-bottom: 15px;
}

.form-group input[type="file"] {
  width: 100%;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00bfff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #009acd;
}

a {
  color: #00bfff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}