* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --b1: #074A59;
    --b2: #06313E;
    --r1: #F24535;
    --y1: #F2B544;
    --w1: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #fff;
    height: 80px; 
    padding-right: 50px; 
    padding-left: 50px; 
    border-bottom: 1px solid var(--b1); 
}

.navbar a {
    color: var(--b1);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

.navbar-left {
    margin-right: auto; 
}

.navbar-center {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}

.navbar-right {
    margin-left: auto; 
}
.navbar-center li {
    display: flex;
    align-items: center;
}

.navbar-center li + li::before {
    content: "|";
    color: 06313E;
    font-weight: 900;
    margin: 20px 20px; 
}

.navbar a:hover {
    color: var(--y1);
}

#current
{
    color: var(--r1);
}
#current:hover
{
    color: var(--y1);
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    color: var(--b1);
}

#container {
    margin-left: auto;
    margin-right: auto; 
    box-sizing: border-box;
    width: 1400px;
}

@media screen and (max-width: 1500px) {
    #container {
       width: -webkit-calc(100% - 100px);
    }
}

#title {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100px;
    
align-content: bottom;

    margin-bottom: 20px;
    border-bottom: 1px solid var(--b2);
}

.problem-title-box {
    margin-bottom: 10px;
    width: 50%;
    height: 100%;
}

.problem-title-box h1 {
    font-size: 90px;
}


.problem-main-details {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
    height: 50%;
}

h2 {
    color: var(--y1);
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}


#latex-container {
    font-size: 20px;
    margin-top: 10px;
    background-color: #fff;
    color: #06313E;
}

img {
    max-width: 100%;
    height: auto;
}

.pdf-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.pdf-link:hover {
    background-color: #0056b3;
}

#hint-title {
    margin-top: 60px;
    width: 100%;
    border-bottom: 1px solid #000;
}

#hint-title h3 {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 10px;
}

.solution {
    padding: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

.solution h4 {
    margin: 0;
    color: #F2B544;
    font-weight: 900;
    font-size: 51px;
}

.clue {
    font-size: 30px;
    font-weight: 500;
}